[submodule "vim/bundle/fugutive"]
	path = vim/bundle/fugutive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/csapprox"]
	path = vim/bundle/csapprox
	url = git://github.com/godlygeek/csapprox.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/tsaleh/vim-supertab.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/vividchalk"]
	path = vim/bundle/vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/pyflakes"]
	path = vim/bundle/pyflakes
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule "vim/bundle/ragtag"]
	path = vim/bundle/ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "vim/bundle/closetag"]
	path = vim/bundle/closetag
	url = git://github.com/docunext/closetag.vim.git
[submodule "vim/bundle/mru"]
	path = vim/bundle/mru
	url = git://github.com/vim-scripts/mru.vim.git
[submodule "vim/bundle/python"]
	path = vim/bundle/python
	url = git://github.com/olivierverdier/python-syntax.vim.git
[submodule "vim/bundle/javascript"]
	path = vim/bundle/javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/delimitmate"]
	path = vim/bundle/delimitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/css_color"]
	path = vim/bundle/css_color
	url = git://github.com/vim-scripts/css_color.vim.git
[submodule "vim/bundle/better-css-syntax"]
	path = vim/bundle/better-css-syntax
	url = git://github.com/vim-scripts/Better-CSS-Syntax-for-Vim.git
[submodule "vim/bundle/vimbuddy"]
	path = vim/bundle/vimbuddy
	url = git://github.com/vim-scripts/vimbuddy.vim.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "gnome-terminal-color-solarized"]
	path = gnome-terminal-color-solarized
	url = https://github.com/sigurdga/gnome-terminal-colors-solarized.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/indent-guides"]
	path = vim/bundle/indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vim/bundle/html5"]
	path = vim/bundle/html5
	url = https://github.com/othree/html5.vim.git
[submodule "vim/bundle/yankring"]
	path = vim/bundle/yankring
	url = https://github.com/chrismetcalf/vim-yankring.git
[submodule "vim/bundle/fakeclip"]
	path = vim/bundle/fakeclip
	url = https://github.com/kana/vim-fakeclip.git
